{% extends "base.html" %}

{% block title %}About - telcobox{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-lg-12">
            <div class="card shadow-sm">
                <h1 class="card-title">About <b style="color: #a60000">telcobox</b></h1>
                <br>
                <p>
                    <b>telcobox</b>, a digital toolbox designed to simplify daily tech tasks and boost productivity. With versatile tools for network, system and cloud engineering, it works seamlessly across cloud-based environments and web application platforms.
                It's an open-source project built with Python (Flask) and Bootstrap. So, your contribution is always welcomed. You can contribute <a href="https://github.com/bugrakilic/telcobox" target="_blank">the repository here</a>.</p>
                <p>For more, please visit my website <a href="https://bugrakilic.net/about/" target="_blank">Bugra Kilic</a>.</p>
                <p style="font-size: 14px; font-style: italic">Artificial Intelligence (AI) tools (e.g., Amazon Q Developer, Claude by Anthropic) are utilized while building this project.</p>
                <p style="font-size: 14px; font-style: italic">Icons on the front page are from <a href="https://iconoir.com" target="_blank">Iconoir</a>.</p>
                <div class="coffee" style="transform: scale(0.6)">
                    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" 
                        data-name="bmc-button" 
                        data-slug="bugraki" 
                        data-color="#007cdb" 
                        data-emoji="☕"  
                        data-font="Poppins" 
                        data-text="Buy me a coffee" 
                        data-outline-color="#ffffff" 
                        data-font-color="#ffffff" 
                        data-coffee-color="#FFDD00">
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
