{% extends "base.html" %}

{% block title %}About - Mergen{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-lg-12">
            <div class="card shadow-sm">
                <h1 class="text-center card-title">About</h1>
                <div>
                    <img src="{{ url_for('static', filename='mergenlogo.png') }}" style="width: 20%; height: 20%; border-radius: 50%">
                </div>
                <br>
                <p>Mergen is a digital toolbox for network, system, and cloud engineering. It works on any cloud-based environments and web application platforms.</p>
                <p>It's an open-source project built with Python (Flask) and Bootstrap. So, your contribution is always welcome. Contribute <a href="https://github.com/telcobox/mergen" target="_blank">the repo here</a>.</p>
                <i>Artificial Intelligence (AI) tools (e.g., Amazon Q, Claude by Anthropic) are utilized while building this project.</i>
                <br>
                <i>Icons on the front page are from <a href="https://iconoir.com" target="_blank">Iconoir</a>.</i>
                <br>
                <div class="coffee" style="transform: scale(0.6)">
                    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" 
                        data-name="bmc-button" 
                        data-slug="bugraki" 
                        data-color="#007cdb" 
                        data-emoji="☕"  
                        data-font="Poppins" 
                        data-text="Buy me a coffee" 
                        data-outline-color="#ffffff" 
                        data-font-color="#ffffff" 
                        data-coffee-color="#FFDD00">
                    </script>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
