{% extends "base.html" %}

{% block title %}Data Download Calculator{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="text-center card-title">Data Download Calculator</h1>
                <p class="lead text-center">Calculate how much time needed to download an amount of data.</p>
                <form method="POST" class="mt-4">
                    <div class="form-group">
                        <label for="data_size">Data Size</label>
                        <input type="number" class="form-control" id="data_size" name="data_size" placeholder="Enter data size" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="data_unit">Data Unit</label>
                        <select class="form-control" id="data_unit" name="data_unit">
                            <option value="GB">GB</option>
                            <option value="MB">MB</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="speed">Download Speed</label>
                        <input type="number" class="form-control" id="speed" name="speed" placeholder="Enter speed" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="speed_unit">Speed Unit</label>
                        <select class="form-control" id="speed_unit" name="speed_unit">
                            <option value="Mbps">Mbps</option>
                            <option value="Gbps">Gbps</option>
                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </form>

                {% if minutes is not none and seconds is not none %}
                <div class="mt-4">
                    <h3>Download Time for {{ data_size }} {{ data_unit }} at {{ speed }} {{ speed_unit }}:</h3>
                    <p>{{ minutes }} minutes and {{ seconds }} seconds</p>
                </div>
                {% endif %}
                <div class="mt-3">
                    <a href="/" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
