{% extends "base.html" %}

{% block title %}DNS Lookup Tool{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="text-center card-title">DNS Lookup Tool</h1>
                <p class="lead text-center">Look for DNS configuration by its domain.</p>
                <form method="POST" class="mt-4">
                    <div class="form-group">
                        <label for="domain">Domain Name</label>
                        <input type="text" class="form-control" id="domain" name="domain" placeholder="Enter domain name (without http/s)" required>
                    </div>
                    <div>
                        <span class="badge badge-info" style="background-color:cornflowerblue">Info</span>
                            <small>A, AAAA, MX, TXT, CNAME and NS records are supported.</small>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Lookup</button>
                </form>

                {% if result %}
                <div class="mt-4">
                    <h3>Results for {{ domain }}:</h3>
                    {% for record_type, records in result.items() %}
                    <div class="mt-3">
                        <h5>{{ record_type }} Records:</h5>
                        <ul class="list-group">
                            {% for record in records %}
                            <li class="list-group-item">{{ record }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="mt-3">
                    <a href="/" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
