{% extends "base.html" %}

{% block title %}Mergen - Telco Toolbox{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-lg-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="card-title" style="color: #007bff; font-weight: bold">Mergen Toolbox</h1>
                    <p class="lead mt-4">Choose an app to use:</p>
                    <!-- 3-Column Grid Layout -->
                    <div class="row mt-4">
                        <div class="col-md-4 mb-3">
                            <a href="/ipsubnet-calculator" class="btn btn-light btn-lg w-100">
                                <img src="{{ url_for('static', filename='calculator.svg') }}" alt="IP Address Calculator Icon" width="24" height="24"> IP Address Calculator</a>
                        </div>
                        <div class="col-md-4 mb-3">
                            <a href="/whats-my-ip" class="btn btn-light btn-lg w-100">
                                <img src="{{ url_for('static', filename='ip-address-tag.svg') }}" alt="What's My IP Address Icon" width="24" height="24"> What's My IP Address</a>
                        </div>
                        <div class="col-md-4 mb-3">
                            <a href="/dns-lookup" class="btn btn-light btn-lg w-100">
                                <img src="{{ url_for('static', filename='dns.svg') }}" alt="DNS Lookup Tool Icon" width="24" height="24"> DNS Lookup Tool</a>
                        </div>
                        <div class="col-md-4 mb-3">
                            <a href="/ping-latency-checker" class="btn btn-light btn-lg w-100">
                                <img src="{{ url_for('static', filename='connection-check.svg') }}" alt="Ping Latency Checker Icon" width="24" height="24"> Ping & Latency Checker</a>
                        </div>
                        <div class="col-md-4 mb-3">
                            <a href="/speedtest" class="btn btn-light btn-lg w-100">
                                <img src="{{ url_for('static', filename='speedtest.svg') }}" alt="Bandwidth Speed Test Icon" width="24" height="24"> Bandwidth Speed Test</a>
                        </div>
                        <div class="col-md-4 mb-3">
                            <a href="/raid-calculator" class="btn btn-light btn-lg w-100">
                                <img src="{{ url_for('static', filename='server.svg') }}" alt="RAID Calculator Icon" width="24" height="24"> RAID Calculator</a>
                        </div>
                        <div class="col-md-4 mb-3">
                            <a href="/data-calculator" class="btn btn-light btn-lg w-100">
                                <img src="{{ url_for('static', filename='data-download.svg') }}" alt="Data Download Calculator Icon" width="24" height="24"> Data Download Calculator</a>
                        </div>
                        <div class="col-md-4 mb-3">
                            <a href="/byte-calculator" class="btn btn-light btn-lg w-100">
                                <img src="{{ url_for('static', filename='convert.svg') }}" alt="Byte/Bit Converter Icon" width="24" height="24"> Byte/Bit Converter</a>
                        </div>
                        <div class="col-md-4 mb-3">
                            <a href="/ssl-checker" class="btn btn-light btn-lg w-100">
                                <img src="{{ url_for('static', filename='checker.svg') }}" alt="SSL/TLS Checker Icon" width="24" height="24"> SSL/TLS Checker</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
