{% extends 'base.html' %}

{% block title %}What's My IP Address?{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h1 class="text-center card-title">What's My IP Address?</h1>
                    <p class="lead text-center">Your IP address is:</p>
                    <div class="alert alert-primary mt-3">
                        <strong>{{ user_ip }}</strong>
                    </div>

                    <!-- Additional IP Details -->
                    <div class="mt-4">
                        <h5>Details</h5>
                        <ul class="list-group">
                            <li class="list-group-item">IP Version: {{ ip_details.ipVersion if ip_details.ipVersion else 'N/A' }}</li>
                            <li class="list-group-item">Latitude: {{ ip_details.latitude if ip_details.latitude else 'N/A' }}</li>
                            <li class="list-group-item">Longtitude: {{ ip_details.longitude if ip_details.longitude else 'N/A' }}</li>
                            <li class="list-group-item">City: {{ ip_details.cityName if ip_details.cityName else 'N/A' }}</li>
                            <li class="list-group-item">State: {{ ip_details.regionName if ip_details.regionName else 'N/A' }}</li>
                            <li class="list-group-item">Country: {{ ip_details.countryName if ip_details.countryName else 'N/A' }}</li>
                            <li class="list-group-item">Timezone: {{ ip_details.timeZones if ip_details.timeZones else 'N/A' }}</li>
                        </ul>
                    </div>

                    <!-- Back to Home Button -->
                    <a href="/" class="btn btn-secondary mt-4">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
